.column {
    min-width: min-content;
    width: 100%;
    height: calc(100% - 40px);
    margin: 25px 5px 5px;
    border-radius: 10px;
    background: linear-gradient(
            180deg,
            rgb(57, 64, 70) 0%,
            rgb(57, 64, 70) 40px,
            rgb(33, 37, 41) 40px,
            rgb(33, 37, 41) 100%
    );
}

.col-content {
    padding: 15px 20px 0;
    font-size: 12px;
    width: min-content;
    margin: auto;
    height: calc(100% - 75px);
    /* border: 1px red solid; */
}

.col-content h6 {
    margin-left: 12px;
}

/* --------left-column-------------- */

.left-col .col-content {
    overflow-y: scroll;
}

.left-col .col-content::-webkit-scrollbar {
    display: none; /* chrome, safari, opera*/
}

.left-col .col-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.filter input[type="checkbox"] {
    display: none;
}

.filter button {
    margin-top: 30px;
    margin-left: 28px;
}

/* --filter-columns-- */
.filter-columns-label {
    background-color: rgb(45, 50, 55);
    margin-top: 12px;
    width: 150px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter .first {
    margin-top: 25px;
}

.filter-columns-label:hover {
    cursor: pointer;
}

.filter-state-label[state="accepted"] {
    background-color: rgba(254, 161, 57, 0.3);
}

.filter input[type="checkbox"]:checked + .filter-state-label[state="accepted"] {
    background-color: rgba(254, 161, 57, 1);
}

.filter-state-label[state="done"] {
    background-color: rgba(35, 105, 252, 0.3);
}

.filter input[type="checkbox"]:checked + .filter-state-label[state="done"] {
    background-color: rgba(35, 105, 252, 1);
}

.filter-state-label[state="sent"] {
    background-color: rgba(7, 192, 107, 0.3);
}

.filter input[type="checkbox"]:checked + .filter-state-label[state="sent"] {
    background-color: rgba(7, 192, 107, 1);
}

.filter-state-label[state="settled"] {
    background-color: rgba(58, 58, 58, 0.3);
}

.filter input[type="checkbox"]:checked + .filter-state-label[state="settled"] {
    background-color: rgba(58, 58, 58, 1);
}

.filter-state-label[state="deleted"] {
    background-color: rgba(251, 36, 80, 0.3);
}

.filter input[type="checkbox"]:checked + .filter-state-label[state="deleted"] {
    background-color: rgba(251, 36, 80, 1);
}

.filter input[type="checkbox"]:checked + .filter-columns-label {
    background-color: rgb(35, 105, 252);
}

/* --filter-state-- */
.filter-state-label {
    margin-top: 12px;
    width: 150px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter-state-label:hover {
    cursor: pointer;
}

.filter input[type="checkbox"]:checked + .filter-state-label {
    opacity: 1;
}

.filter-client {
    margin-top: 15px;
    width: 150px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter-client option {
    background-color: rgb(114, 114, 114);
}
.filter-date-type {
    margin-top: 15px;
}

.filter-date-type label {
    display:inline;
    margin-top: 20px;
}

.filter-date-type label:after {
    content: "\a";
    white-space: pre;
}

.filter-date-type input {
    /*display: block;*/
}

.filter-date-from, .filter-date-to {
    margin-top: 15px;
    width: 150px;
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* --------mid-column-------------- */

#rep {
    right: 100px;
    width: 100px;
    background: none;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 0;
}

.mid-col table {
    font-size: 13px;
}

.mid-col table thead th {
    position: sticky;
    top: 0;
}

.mid-col .table-container {
    height: 100%;
    overflow-y: scroll;
    opacity: 1;
    transition: all 0.3s;
    /* border: 1px solid red; */
}

.mid-col .table-container.hidden {
    opacity: 0;
    transition: all 0.2s;
}

.mid-col .table-container::-webkit-scrollbar {
    display: none; /* chrome, safari, opera*/
}

.mid-col .table-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.mid-col .clickable-row {
    cursor: pointer;
}

.mid-col table select {
    font-size: 12px;
    padding: 0 20px 2px 11px;
    border-radius: 15px;
    color: white;
    border: none;
    width: 110px;
}

.mid-col table select:disabled {
    background-color: rgb(58, 58, 58);
}

.active-row {
    /*  TODO*/
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.20211834733893552) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

.active-row td {
    background: none;
}

/* -----------right-col-------------- */
.right-col {
    /* height: 100%; */
    /* border: 1px solid red; */
}


.right-col .warning {
    /* display: none; */
    padding: 15px 15px 15px 20px;
    text-align: justify;
    background-color: rgba(191, 170, 36);
    color: black;
    border-radius: 12px;
    margin-bottom: 20px;
}

.right-col .warning li {
    font-size: 14px;
    margin: 2px;
}

.right-col .col-content {
    overflow-y: scroll;
    width: 100%;
    opacity: 1;
    transition: all 0.3s;
    /* height: 100%; */
}

.right-col .col-content.hidden {
    opacity: 0;
    transition: all 0.3s;
}

.right-col .col-content::-webkit-scrollbar {
    display: none; /* chrome, safari, opera*/
}

.right-col .col-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.right-col .property {
    position: relative;
    font-size: 14px;
    color: rgb(136, 137, 139);
    width: 330px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 5px auto 10px;
    /* height: auto; */
    /* border: solid 1px yellow; */
    display: block;
    overflow: auto;
}

.right-col .property .name {
    position: absolute;
    top: 12px;
    left: 0;
}

.right-col .property .value {
    color: white;
    background-color: rgb(45, 50, 55);
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    float: right;
    margin-left: 20px;
    white-space: normal;
    overflow-wrap: break-word;
    width: 200px;
    text-align: left;
    /* border: solid 1px red; */
}

.right-col .invoice {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right-col .logs thead {
    font-size: 12px;
    color: rgb(185, 185, 185);
}

.right-col .logs tbody {
    font-size: 12px;
}

.right-col .expandable .body {
    display: none;
}

.right-col .expandable .body .value {
    background-color: rgb(40, 45, 50);
    color: rgb(200,200,200);
}
.right-col .expandable .body.active {
    display: block;
}

.right-col .expandable .trigger .value{
    cursor: pointer;
}

.right-col .expandable svg {
    position: absolute;
    right: 18px;
    top: 13px;
}

/*-- others --*/

.clickable {
    cursor: pointer;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.icon-loading {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
