/* -- filters -- */
.filters-form .filter-columns-label {
    background-color: var(--color-select-background);
    margin-top: 12px;
    width: 150px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.filters-form .filter-state-label {
    margin-top: 12px;
    width: 150px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.filters-form label[for="index_filters_form_adoption"] {
    margin-top: 20px;
}

.filters-form  select[name="index_filters_form[select-client]"] {
    margin-top: 20px;
}

.filters-form select[name="index_filters_form[select-staff]"]{
    margin-bottom: 15px;
}

.filters-form input[name="index_filters_form[date-from]"]{
    margin-top: 15px;
}

.filters-form label[for="index_filters_form_date-type_0"],
.filters-form label[for="index_filters_form_date-type_1"] {
    display: inline;
}

.filters-form label[for="index_filters_form_date-type_0"]::after,
.filters-form label[for="index_filters_form_date-type_1"]::after {
    content: "\a";
    white-space: pre;
}

.filters-form input[name="index_filters_form[date-to]"] {
    margin-top: 15px;
}


/* --------mid-column-------------- */

#rep {
    right: 100px;
    width: 100px;
    background: none;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 0;
}

/* -----------right-col-------------- */


.right-col .invoice {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right-col .logs thead {
    font-size: 12px;
    color: var(--color-property-label);
}

.right-col .logs tbody {
    font-size: 12px;
}
