.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(29, 32, 35);
  z-index: 1;
  text-align: center;
  /* padding:20px; */
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
}
.popup-add {
  width: 700px;
  /* height: 600px; */
  height: 80%;
}

.popup-settings {
  width: fit-content;
  height: fit-content;
  /* padding: 20px; */
}

.popup-settings-container {
  width: 800px;
  padding: 20px;
}

.popup-settings input[type="checkbox"] {
  display: none;
}
.popup-settings
  input[type="checkbox"]:checked
  + .popup-settings-columns-checkbox {
  background-color: rgb(35, 105, 252);
}

.popup-settings
  input[type="checkbox"]:checked
  + .popup-settings-filters-checkbox {
  opacity: 1;
}

.popup.active {
  display: block;
}
.overlay.active {
  display: block;
}
.popup-settings-filters-checkbox {
  margin-top: 15px;
  width: 300px;
  opacity: 0.4;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.popup-settings-columns-checkbox {
  background-color: rgb(39, 39, 39);
  margin-top: 15px;
  width: 300px;
  /* opacity: 0.4; */
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.popup-settings-columns-checkbox:hover {
  cursor: pointer;
}
.popup-settings-filters-checkbox:hover {
  cursor: pointer;
}

.popup-settings-submit {
  padding: 8px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(35, 105, 252);
  cursor: pointer;
}

.popup-add-property {
  background-color: rgb(45, 50, 55);
  text-align: left;
  padding: 15px;
  padding-left: 20px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  height: 60px;
  font-size: 16px;
}
.popup-add-value {
  float: right;
}
.popup-add-input {
  border-radius: 15px;
  padding: 3px;
}
.popup-add-value textarea {
  height: 30px;
}

.close-popup {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  float: right;
  position: absolute;
  right: 50px;
  color: rgb(24, 24, 24);
  background-color: rgb(58, 58, 58);
  padding: 6px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.popup {
  display: block;
  background-color: rgb(49, 49, 49);
  position: fixed;
  opacity: 0;
  max-height: calc(100% - 120px);
  top: calc(50% + 35px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.4s;
  z-index: -1;
  /* border: 1px solid blue; */
}

.popup.active {
  z-index: 2;
  opacity: 1;
  display: block;
}

.popup-content {
  max-height: 70vh;
  overflow-y: scroll;
  /* border: 1px solid red; */
}

.popup-content::-webkit-scrollbar {
  display: none; /* chrome, safari, opera*/
}

.popup-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.popup .alert {
  margin: 0;
}

.popup form {
  margin: 0;
}
