/* --------left-column-------------- */
.left-col .table {
    font-size: 13px;
}

.left-col .col-content {
    overflow: scroll;
}

.left-col table thead th {
    position: sticky;
    top: 0;
}

.left-col .table-container {
    height: auto;
    opacity: 1;
    transition: all 0.3s;
    /* border: 1px solid red; */
}

.left-col .table-container.hidden {
    opacity: 0;
    transition: all 0.2s;
}

.left-col .table-container::-webkit-scrollbar {
    display: none; /* chrome, safari, opera*/
}

.left-col .clickable-row {
    cursor: pointer;
}

.container h6 {
    font-size: 12px;
}

.left-col .form-month {

}