.input-date-from, .input-date-to {
    margin-top: 15px;
    width: 150px;
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#form-preview-content {
    width: auto;
}

.mid-col .table-container::-webkit-scrollbar {
    width: 14px;
    border-radius: 10px;
    display: initial;
}

.mid-col .table-container::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;

    /*-ms-overflow-style: initial;*/
    /*scrollbar-width: initial;*/
}

.reports-list-element {
    width: 250px;
    cursor: pointer;
    background: var(--color-header);
    border-radius: 6px;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

.report-form label {
    margin-bottom: 10px;
    margin-right: 20px;
}