{{ form_start(addOrderForm, {'attr':{'name': 'add_order_form', 'id': 'add-order-form'}})}}
{{ form_widget(addOrderForm) }}
<button type="submit" class="btn btn-primary">Create.</button>
{{ form_end(addOrderForm) }}
