<table class="table table-dark">
    {% for row in preview %}
        <tr>
            {% for col in row %}
                <td>
                    {{ col }}
                </td>
            {%  endfor %}
        </tr>
    {% endfor %}
</table>