<table id="reports-table" class="table table-dark table-hover">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    {% for report in reports %}
        <tr report-id="{{ report['id'] }}">
            <td class="clickable-row">
                {{ report['name'] }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>