.state-button {
    border-radius: 20px;
    width: 100px;
    border: none;
    color: white;
    background-color: rgb(254, 161, 57);
}
.state-done{
    background-color: rgba(7, 192, 107,0.5);
    text-align: center;
    padding: 2px;
    width: 100px;
    border-radius: 20px;
    color: rgba(255,255,255,0.5);
}

tbody svg {
    height: 13px;
}