{{ form_start(filtersForm) }}
    {% for row in filtersForm %}
        {{ form_widget(row) }}
    {% endfor %}
<button type="submit" class="btn btn-primary">Wykonaj</button>
{{ form_end(filtersForm) }}