<div class="">
    {{ form_start(filtersForm, {'attr':{'id': 'filter', 'class': 'filter'}}) }}
    {% for row in filtersForm %}
            {{ form_widget(row,{'attr': {}}) }}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Wykonaj</button>
    {{ form_end(filtersForm) }}
</div>