{% if options | length > 1 %}
    <div id="add-button" class="burger">
        <div class="burger-header">
            {% include 'icons/burger.html' %}
        </div>
        {% for option in options %}
            <div class="burger-row {{ option['class'] }}">
                {{ option['label'] | trans }} {% include 'icons/' ~ option['icon'] ~ '.html' %}
            </div>
        {% endfor %}
    </div>
{% elseif options | length > 0 %}
    <div class="burger-single {{ options[0]['class'] }}">
        <span class="label">{{ options[0]['label'] | trans }}</span> {% include 'icons/' ~ options[0]['icon'] ~ '.html' %}
    </div>
{% endif %}