{{ form_start(form) }}
<div class="">
    <span style="margin-right: 10px;">{{ 'Are you sure?' | trans }}</span>
    <button type="submit" class="btn btn-danger">{{ 'Delete' | trans }}</button>
</div>
{{ form_end(form) }}