<div class="popup popup-settings" id="popup-settings">
    <input type="button" class="close-popup" value="X" style="top: 10px; right: 15px;"
           onclick="togglePopup('popup-settings')">
    <div class="container popup-settings-container">
        <div class="row">
            <div class="col-6">
                <h3 style="">Pokaż kolumny</h3>
                <form id="popup-settings-columns">
                    <input type="checkbox" id="id">
                    <label class="popup-settings-columns-checkbox" for="id">id</label><br/>
                    <input type="checkbox" id="client">
                    <label class="popup-settings-columns-checkbox" for="client">Klient</label>
                    <input type="checkbox" id="topic">
                    <label class="popup-settings-columns-checkbox" for="topic">Temat</label>
                    <input type="checkbox" id="adoption">
                    <label class="popup-settings-columns-checkbox" for="adoption">Wprowadzono</label>
                    <input type="checkbox" id="deadline">
                    <label class="popup-settings-columns-checkbox" for="deadline">Termin</label>
                </form>
            </div>
            <div class="col-6">
                <h3 style="">Pokaż zlecenia</h3>
                <form id="popup-settings-filters">
                    <input type="checkbox" id="przyjete">
                    <label class="popup-settings-filters-checkbox" for="przyjete" state="przyjęte">przyjęte</label><br/>
                    <input type="checkbox" id="wykonane">
                    <label class="popup-settings-filters-checkbox" for="wykonane" state="wykonane">wykonane</label>
                    <input type="checkbox" id="wyslane">
                    <label class="popup-settings-filters-checkbox" for="wyslane" state="wysłane">wysłane</label>
                    <input type="checkbox" id="rozliczone">
                    <label class="popup-settings-filters-checkbox" for="rozliczone"
                           state="rozliczone">rozliczone</label>
                    <input type="checkbox" id="usuniete">
                    <label class="popup-settings-filters-checkbox" for="usuniete" state="usunięte">usunięte</label>
                </form>
            </div>
        </div>
    </div>
    <div class="popup-settings-submit">ok</div>
</div>



