<h5>Wprowadź dane:</h5>
<form method="post" id="form">

    <div style="float: left">
        <input type="date" id="reports-input-from" name="from" class="input-date-from">
        <label style="display: block;" state="data od" for="reports-input-from">Data od</label>
    </div>

    <div style="float: left; margin-left: 50px;">
        <input type="date" id="reports-input-to" name="to" class="input-date-to">
        <label style="display: block;" state="data do" for="reports-input-to">Data do</label>
    </div>

    <div style="float: left; margin-left: 300px; margin-top: 16px;">
        <button type="button" class="btn btn-primary" id="button-preview">Podgląd</button>
    </div>

    <div style="float: left; margin-left: 50px; margin-top: 16px;">
        <button type="button" class="btn btn-secondary" id="button-export">Pobierz</button>
    </div>

    <div style="clear: both"></div>

</form>