body {
  height: 100%;
  background-color: var(--color-background-dark);
  font-family: "Rubik", sans-serif;
  color: white;
}

/* -----top-nav------- */

.navbar {
  height: 45px;
  background: linear-gradient(
          90deg,
          var(--color-order-manager) 0%,
          var(--color-order-manager) 38%,
          var(--color-kadamaxo) 56%,
          var(--color-kadamaxo) 100%
  );
  background-size: 150% 100%;
  animation: gradient 20s ease infinite;
}

.navbar-brand {
  padding: 0;
  font-size: 22px;
  margin: 0 0 0 25px;
}

.navbar-brand:hover {
  color: white;
}

.navbar-brand img {
  height: 40px;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.nav-link {
  word-spacing: 12px;
}

.nav-link a:hover {
  text-shadow: 0px 0px 15px white;
  transition: all 0.5s;
}

.nav-link:hover {
  color: white;
}

.current-tab .item-container {
  color: var(--color-order-manager);
}

a {
  color: white;
  text-decoration: none;
}

/* -----side-nav------- */

.wrapper {
  display: flex;
  align-items: stretch;
  height: calc(100% - 45px);
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: var(--color-header);
  color: white;
  transition: all 0.5s;
  height: 100%;
  text-align: center;
}

#sidebar li {
  position: relative;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active h6 {
  display: none;
}
.item-container {
  width: fit-content;
  white-space: nowrap;
}

.item-container a:hover h6 {
  color: var(--color-order-manager);
}

.item-container a:hover svg path {
  fill: var(--color-order-manager);
}

@keyframes show-up-delayed {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out-delayed {
  0% {opacity: 1;}
  30% {opacity: 1;}
  100% {opacity: 0;}
}

#sidebar h6 {
  display: block;
  position: absolute;
  opacity: 1;
  right: 30px;
  top: 12px;
  transition: all 0.3s;
  animation-name: show-up-delayed;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
}

#sidebar ul li a {
  padding: 20px 15px;
  text-align: left;
  margin-left: 20px;
  font-size: 1.1em;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: var(--color-order-manager);
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar svg {
  height: 22px;
  width: 22px;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.row {
  height: 100%;
}

.container-fluid {
  height: 100%;
  padding: 0 25px 0 15px;
  width: 100%;
  transition: all 0.3s;
}

.column {
  margin-left: 0;
  margin-right: 0;
}

.column header {
  position: relative;
  font-size: 20px;
  padding: 7px;
  margin-left: 10px;
}

.column header .icon svg {
  /*box-sizing: content-box;*/
  margin-top: 6px;
  margin-right: 8px;
  margin-left: -2px;
  width: 18px;
  height: 18px;
}

/*-- others --*/

.rows-count-container {
  height: 25px;
}

.rows-count-container .rows-count {
  text-align: right;
  padding-right: 8px;
  font-size: 13px;
  margin-top: 7px;
}

.rows-count svg {
  height: 14px;
  margin-bottom: 2px;
  margin-right: 3px;
}

.alert {
  font-size: 13px;
  border-radius: 5px;
}

.alert.alert-info {
  color: var(--color-property-label);
  background-color: unset;
  border: none;
}

input[type="radio"] {
  margin-right: 5px;
}

[data-state="accepted"] {
  background-color: var(--color-state-accepted);
}
[data-state="done"] {
  background-color: var(--color-state-done);
}
[data-state="sent"] {
  background-color: var(--color-state-sent);
}
[data-state="settled"] {
  background-color: var(--color-state-settled);
}
[data-deleted="true"] {
  background-color: var(--color-state-deleted);
}

.btn-primary {
  background-color: var(--color-state-done);
  border-color: var(--color-state-done);
}

.row {
  --bs-gutter-x: 1.2rem;
}

/*-- others --*/

.clickable {
  cursor: pointer;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes _rotateY {
  100% {
    transform: rotateY(360deg);
  }
}

.icon-loading {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.search-form .error {
  color: var(--color-warning);
}

.search-form input {
  background-color: var(--color-burger);
  color: white;
  border: none;
  padding: 2px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.search-form button {
  float: right;
  margin-top: 10px;
}

/* --- colors --- */
:root {
  --color-order-manager:      rgb(35, 105, 252);
  --color-kadamaxo:           rgb(239, 83, 96);
  --color-background:         rgb(33, 37, 41);
  --color-background-dark:    rgb(28, 31, 34);
  --color-header:             rgb(57, 64, 70);
  --color-burger:             rgb(73, 82, 91);
  --color-active-link:        var(--color-order-manager);
  --color-disabled:           rgb(58, 58, 58);
  --color-property-label:     rgb(136, 137, 139);
  --color-notice:             rgb(255, 251, 0);
  --color-warning:            rgb(255, 3, 64);
  --color-select-background:  rgb(39, 39, 39);
  --color-state-accepted:     rgb(254, 161, 57);
  --color-state-done:         var(--color-order-manager);
  --color-state-sent:         rgb(7, 192, 107);
  --color-state-settled:      rgb(0, 150, 166);
  --color-state-deleted:      rgb(251, 36, 80);
}
