body {
    background-color: rgb(29,32,35);
}

.form-control {
    background-color: rgb(45, 50, 55);
    border-radius: 20px;
    height: 45px;
    padding: 10px 30px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.form-control:focus{
    background-color: rgb(45,50,55);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover{
    background-color: rgb(8,192,107);
    border: none;
    box-shadow: none;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 30px;
}

.text-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(29,32,35);
    padding: 20px 80px;
    color: white;
}