<svg data-name="Warstwa 1" id="Warstwa_1" viewBox="0 0 7.29 5.95" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.51,5.07h6a.65.65,0,1,0,0-1.29h-6a.65.65,0,1,0,0,1.29Z" style="fill:#fff"
          transform="translate(-2.85 -3.78)"/>
    <path d="M9.49,6.1h-6a.65.65,0,1,0,0,1.3h6a.65.65,0,1,0,0-1.3Z" style="fill:#fff"
          transform="translate(-2.85 -3.78)"/>
    <path d="M9.49,8.43h-6a.65.65,0,1,0,0,1.29h6a.65.65,0,1,0,0-1.29Z" style="fill:#fff"
          transform="translate(-2.85 -3.78)"/>
</svg>